{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
    <title>Material Design Bootstrap</title>
  <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href='{% static "css/bootstrap.min.css" %}'  rel="stylesheet">
  <link href='{% static "css/mdb.min.css" %}'  rel="stylesheet">
  <link href='{% static "css/style.min.css" %}'   rel="stylesheet">

</head>
<body>


<div class="container">

<div align="right">
    <span class="navbar-text">
        {% if request.user.is_authenticated %}
         {{ user.username }}: <a href="{% url 'customer_account' %}" class="btn btn-primary btn-sm">Личный кабинет</a> |
            <a href="{% url 'cart' %}" class="btn btn-warning btn-sm">Корзина</a> |
            <a href="{% url 'user_logout' %}"> Выход </a>
                {% else %}
            <a href="{% url 'register' %}">Регистрация</a> |
            <a href="{% url 'user_login' %}">Авторизация</a>
        {% endif %}
    </span>
</div>

<nav class="navbar navbar-expand-lg navbar-dark  bg-dark sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> 🍕 Pizza Club </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        {% block main_menu %}
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="&#45;&#45;bs-scroll-height: 100px;">
                {% for c in categories %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ c.get_absolute_url }}">
                            {{c.name_category}}
                        </a> </li>
                {% endfor %}
            </ul>
         {% endblock %}

        </div>
  </div>
</nav>





{% block content %}
{% endblock %}


 </div>

<!-- Message -->
  <div class='mt-5' pt-4> {% if messages %}
       {% for message in messages %}
      <div class='alert alert-{{message.tags}}' role='alert'>
        {{ message }}
      </div>
      {% endfor %}
  {% endif %} </div>




<footer></footer>
  <script type="text/javascript" src='{% static "js/jquery-3.4.1.min.js" %}' ></script>
  <script type="text/javascript" src='{% static "js/popper.min.js" %}' ></script>
  <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}' ></script>
  <script type="text/javascript" src='{% static "js/mdb.min.js" %}' ></script>
  <script type="text/javascript">
    new WOW().init();
  </script>
</body>
</html>