
{% extends 'shop/base.html' %}

{% block content %}

<ul>
    <h1> {{title}}  </h1>
Биогра́фия[1] (др.-греч. βίος — жизнь + γράφω — пишу; букв. «жизнеописание») — описание жизни человека, сделанное другими людьми или им самим (автобиография).

Биография включает в себя не только основные факты (Биографический факт) жизни, такие как рождение, происхождение, образование, служба, работа, семейные отношения и смерть; она также изображает опыт человека во время событий его жизни. В отличие от профиля или автобиографии (резюме), биография представляет историю жизни субъекта, выделяя различные аспекты его жизни, в том числе интимных подробностей, и может включать в себя анализ личности субъекта.

Биографические произведения обычно не являются художественной литературой, но художественная литература также может использоваться для изображения жизни человека. Встречается в различных средствах массовой информации и коммуникации, от литературы до кино, образуют жанр, известный как биография.

Биография является источником первичной социологической информации, позволяющей определить психологический тип личности в его исторической, национальной и социальной обусловленности.

Биография воссоздаёт историю человека в связи с общественной действительностью, культурой и бытом его эпохи. Биография может быть научной, художественной, популярной и так далее.
</ul>

{% endblock %}

